:root {
  --bgDarkGreen: #11242f;
  --bgLightGreen: #177179;
  --bgYellow: #f6d39b;
  --bgBestProduct: #e8e0d0;
  --bgButton: #f5d399;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
